.login-container {
  width: 320px;
  margin: 50px auto;
  padding: 50px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  width: 120px;
  margin-bottom: 10px;
}
  
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-input {
  width: 90%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  font-size: 14px;
  background: transparent;
}

.login-input::placeholder {
  color: #333;
}

.login-button {
  background: green;
  color: black;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background: black;
  color: white;
}

.forgot-password {
  font-size: 12px;
  color: #555;
  text-decoration: none;
  margin-top: 5px;
}














/* Dashboard styles */
.dashboard-container {
  text-align: center;
  padding: 20px;
}

.tabs-container {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr); */
  /* justify-content: space-around; */
  margin-top: 30px;
  gap:1rem;
}

.tab {
  height: 4rem;
  /* width: 112%; */
  max-width: 1024px;
  padding: 60px;
  background-color: #F4F4f4;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.tab a {
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab span {
  /* margin-top: 10px; */
  /* font-size: 14px; */
}

/* Hover effect */
.tab:hover {
  background-color: #e1e1e1;
  cursor: pointer;
}

h1, h2, b {
  font-family: 'trebuchet ms';
  font-size: 2rem;
}












/* Sidebar container */
.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2f4f4f;
  color: white;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  transition: left 0.3s ease-in-out;
}

/* Sidebar title */
.sidebar-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Sidebar menu items */
.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  padding: 10px 20px;
}

/* Sidebar links */
.menu li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 8px;
}

.menu li a:hover {
  background-color: #444;
  border-radius: 5px;
}

/* Submenu styles */
.submenu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.submenu {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.submenu li {
  padding: 5px 10px;
}

.submenu li a {
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #555;
}

/* Separator for User Groups & Users */
.menu-separator {
  border: 1px solid #555;
  margin: 15px 0;
}
