.container {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
  }
  
  .table-container {
    margin-top: 20px;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #f4f4f4;
  }
  
  .not_reviewed {
    background-color: #c8f7c5;
  }
  
  .approved {
    background-color: #ffff;
  }
  
  .cancelled {
    background-color: #f2dede;
  }
  
  .status-text {
    font-weight: bold;
  }
  
  .voucher-image {
    width: 80px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .doc-link {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }
  
  .approve-btn {
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: rgb(145, 20, 20);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .no-data {
    text-align: center;
    font-style: italic;
  }
  